/* BASE */
p.txt {
  font-size: 14px; }

/* PAGE */
.co {
  color: green; }

/* HEADERS */
h1 {
  color: blue; }

/* CO */
.co {
  display: block; }

/* LISTS */
ol {
  background-color: grey; }

/* FIGURES */
figure {
  display: block; }

/* PHOTOS */
img {
  width: 100%; }

/* TABLES */
table {
  color: red; }
  table td {
    color: white; }

/* FEATURES */
.tip {
  display: block; }
