@media only screen and (max-width: 750px) {
  .figure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .figure img {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; /* width */
  }

  .figure figcaption {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; /* width */
    margin-bottom: 30px;
  }

}