@media only screen and (max-width: 750px) {
  .figure {
    flex-direction: column;
  }

  .figure img {
    flex-basis: 100%;
  }

  .figure figcaption {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

}