* {
  box-sizing: border-box;
}

body {
  max-width: 964px;
  margin-left: auto;
  margin-right: auto;
}

figure {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid gray;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

img {
  display: block;
  max-width: 100%;
  width: 50%;
}

figcaption {
  display: block;
  width: 50%;
  border: 1px solid green;
  margin-right: 10px;
}

