/* FIGURES */
.figure {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 90%;
	margin-right: auto;
	margin-left: auto;

	& img {
		width: 100%;
	}
	& figcaption {
		width: 100%;
		margin-bottom: 40px;
	}
}
