/* TABLES */
.table_container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.tbl {
	width: 100%;
}

.tbl_name {
	width: 100%;
}
