/* PAGE */

section.page {
	//background-color: #f1f1f1;
	background-color: #fafafa;
	clear: both;
}

.section-body {
	padding: 32px 0;
	&:nth-child(even) {
		background-color: #fefefe;
	}
	&:nth-of-type(even) {
		background-color: #fefefe;
	}
}
