/* PAGE */

// #fafafa
// fefefe

section.page {
	background-color: #f1f1f1;
	clear: both;
}

.section-body {
	padding: 32px 0;
	&.bg-white {
		background-color: #fefefe;
	}
}

.right-column {
	width: 50%;
	float: right;
	padding: 0px 2% 0px 0px;
	clear: right;
}
.right-column p {
	padding-left: 0;
	padding-right: 0;
}

[class^='article-custom-'] {
	position: relative;
	margin: 32px auto;
	width: 100%;
	padding: 32px;
	border-left: 6px solid #c92b56;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	box-shadow: 2px 2px 6px #ddd;
}

[class^='article-custom-'] p.tx,
[class^='article-custom-'] ul,
[class^='article-custom-'] ol {
	width: 100%;
	max-width: none;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	color: #ffffff;
}

[class^='article-custom-'] p.tx strong,
[class^='article-custom-'] p.tx b.xl,
[class^='article-custom-'] ul strong,
[class^='article-custom-'] ul b.xl,
[class^='article-custom-'] ol strong,
[class^='article-custom-'] ol b.xl {
	color: #ffffff;
}

[class^='article-custom-'] h2.h2,
[class^='article-custom-'] h3.h3,
[class^='article-custom-'] h4.h4 {
	max-width: none;
	margin: 0 auto;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 40%;
	border-bottom: none;
	float: none;
	color: #ffffff;
}

[class^='article-custom-'] .article-custom_title {
	margin: 0;
	padding: 4px 20px;
	position: absolute;
	top: 35%;
	left: 0;
	width: 100%;
	text-align: center;
	-webkit-transform: translateY(-35%);
	-ms-transform: translateY(-35%);
	transform: translateY(-35%);
	line-height: 1.25;
}

.article-custom-right {
	padding-left: 40%;
	border-radius: 4px;
}

.article-custom-right h2.h2,
.article-custom-right h3.h3,
.article-custom-right h4.h4 {
	left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background-image: url(../Images/arrow.png);
	background-repeat: no-repeat;
	background-position: center left;
}

.article-custom-left {
	padding-right: 40%;
	border-radius: 4px;
}

.article-custom-left h2.h2,
.article-custom-left h3.h3,
.article-custom-left h4.h4 {
	right: 0;
}

/* ----- custom content colors ----- */
.article-custom-left.color-1,
.article-custom-right.color-1 {
	background-color: #373c49;
}

.article-custom-left.color-1 h2.h2,
.article-custom-left.color-1 h3.h3,
.article-custom-left.color-1 h4.h4,
.article-custom-right.color-1 h2.h2,
.article-custom-right.color-1 h3.h3,
.article-custom-right.color-1 h4.h4 {
	background-color: #191c23;
}

.article-custom-left.color-2,
.article-custom-right.color-2 {
	background-color: #632d46;
}

.article-custom-left.color-2 h2.h2,
.article-custom-left.color-2 h3.h3,
.article-custom-left.color-2 h4.h4,
.article-custom-right.color-2 h2.h2,
.article-custom-right.color-2 h3.h3,
.article-custom-right.color-2 h4.h4 {
	background-color: #4f2438;
}

.article-custom-left.color-3,
.article-custom-right.color-3 {
	background-color: #e9e7da;
}

.article-custom-left.color-3 h2.h2,
.article-custom-left.color-3 h3.h3,
.article-custom-left.color-3 h4.h4,
.article-custom-right.color-3 h2.h2,
.article-custom-right.color-3 h3.h3,
.article-custom-right.color-3 h4.h4 {
	background-color: #bab9ae;
	color: #3a3a37;
}

.article-custom-left.color-3 p.tx,
.article-custom-left.color-3 li,
.article-custom-right.color-3 p.tx,
.article-custom-right.color-3 li {
	color: #3a3a37;
}

.article-custom-left.color-3 p.tx strong,
.article-custom-left.color-3 p.tx b.xl,
.article-custom-left.color-3 p.tx em,
.article-custom-left.color-3 li strong,
.article-custom-left.color-3 li b.xl,
.article-custom-left.color-3 li em,
.article-custom-right.color-3 p.tx strong,
.article-custom-right.color-3 p.tx b.xl,
.article-custom-right.color-3 p.tx em,
.article-custom-right.color-3 li strong,
.article-custom-right.color-3 li b.xl,
.article-custom-right.color-3 li em {
	color: #3a3a37;
}

.article-custom-left.color-4,
.article-custom-right.color-4 {
	background-color: #323847;
}

.article-custom-left.color-4 h2.h2,
.article-custom-left.color-4 h3.h3,
.article-custom-left.color-4 h4.h4,
.article-custom-right.color-4 h2.h2,
.article-custom-right.color-4 h3.h3,
.article-custom-right.color-4 h4.h4 {
	background-color: #232b36;
}

.article-custom-left.color-5,
.article-custom-right.color-5 {
	background-color: #4789c8;
}

.article-custom-left.color-5 h2.h2,
.article-custom-left.color-5 h3.h3,
.article-custom-left.color-5 h4.h4,
.article-custom-right.color-5 h2.h2,
.article-custom-right.color-5 h3.h3,
.article-custom-right.color-5 h4.h4 {
	background-color: #396ea0;
}

.article-custom-left.color-gray,
.article-custom-right.color-gray {
	background-color: #585858;
}

.article-custom-left.color-gray h2.h2,
.article-custom-left.color-gray h3.h3,
.article-custom-left.color-gray h4.h4,
.article-custom-right.color-gray h2.h2,
.article-custom-right.color-gray h3.h3,
.article-custom-right.color-gray h4.h4 {
	background-color: #464646;
}

.centerCol {
	width: 58%;
	max-width: 588px;
	margin-left: auto;
	margin-right: auto;
}

.centerCol p.tx {
	width: 100%;
	max-width: 100%;
	margin-right: auto;
}

.customCol-0 {
	padding: 132px 0px 62px;
	border-radius: 4px;
	background-color: #fff;
	background-image: url(../Images/section-seperator3.png);
	background-repeat: no-repeat;
	background-position: center-top;
}

.customCol-0 p,
.customCol-0 ol,
.customCol-0 ul {
	margin-left: auto;
	margin-right: auto;
	width: 58%;
	max-width: 576px;
	background-color: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 32px;
	font-weight: 300;
	text-align: center;
}

.customCol-1 {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #c92b56;
	background-image: url(../Images/bulb-icon.png);
	background-repeat: no-repeat;
	background-position: center left;
	padding: 32px 8% 18px 190px;
	box-shadow: 2px 2px 6px #ddd;
	min-height: 180px;
}

.customCol-1 p {
	color: #fff;
	font-size: 22px;
	font-weight: 600;
}

.customCol-2 {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #632d46;
	border-radius: 4px;
}

.customCol-2 p.tx {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	max-width: 388px;
	background-color: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
}

.customCol-3 {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #e9e7da;
	border-radius: 4px;
}

.customCol-3 p.tx {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	max-width: 388px;
	background-color: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
}

.customCol-4 {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #fff;
	padding: 32px;
	border-bottom: 3px solid #c92b56;
	border-right: 1px solid #d1d1d1;
	border-left: 1px solid #d1d1d1;
	border-top: 1px solid #d1d1d1;
	box-shadow: 2px 2px 6px #ddd;
}

.customCol-4 p,
.customCol-4 ol,
.customCol-4 ul {
	font-size: 22px;
	font-weight: 300;
}

.customCol-5 {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #4789c8;
	border-radius: 4px;
}

.customCol-5 p.tx {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	max-width: 388px;
	background-color: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
}

.customCol-6 {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #f2f2f3;
	border-radius: 4px;
}

.customCol-6 p.tx {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	max-width: 388px;
	background-color: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
}
