@media only screen and (max-width: 750px) {
  /* HEADERS */
  h3.h3 {
    margin-left: 8%;
    margin-right: 8%;
  }
  /* TEXT */
  p.txt,
  .key-point,
  .section-lead p.intro {
    margin-left: 3%;
    margin-right: 3%;
  }
  p.ext {
    margin-left: 6%;
    margin-right: 6%;
  }
  /* SECTIONS */
  .section-header {
    padding-left: 8%;
    padding-right: 8%;
  }
  .section-lead p {
    width: 90%;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
  }
  /* FIGURES */
  .figure {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
  }
  .figure img {
    width: 100%;
  }
  .figure figcaption {
    width: 100%;
    margin-bottom: 40px;
  }
}
