@media only screen and (max-width: 750px) {
  /* HEADERS */
  h3.h3 {
    margin-left: 8%;
    margin-right: 8%;
  }
  /* TEXT */
  p.txt,
  .key-point,
  .section-lead p.intro {
    margin-left: 3%;
    margin-right: 3%;
  }
  p.ext {
    margin-left: 6%;
    margin-right: 6%;
  }
  /* CHAPTER OPENER */
  .co_header {
    padding: 82px 6%;
  }
  .quote_text {
    padding: 18px 4% 0px;
  }
  .co_intro {
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 32px 8%;
  }
  .co_text {
    width: 100%;
  }
  .co_aside {
    width: 100%;
    padding: 5% 10%;
  }
  /* SECTIONS */
  .section-header h1 {
    text-align: center;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-header .sec_number {
    margin-right: auto;
    margin-left: auto;
  }
  .section-lead p {
    width: 90%;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
  }
  /* PART */
  .parts_header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #333947;
    color: #ffffff;
    margin-bottom: 60px;
    padding: 50px 16%;
  }
  .header_number {
    background-color: #c92a56;
    color: #ffffff;
    margin: 0;
    padding: 20px 30px;
  }
  .header_char {
    display: block;
    margin: 0;
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .header_digit {
    display: block;
    margin: 0;
    font-weight: 500;
    font-size: 72px;
    line-height: 52px;
    text-align: center;
  }
  .header_title {
    margin: 0;
    font-weight: 700;
    font-family: RobotoRegular;
    font-size: 48px;
    line-height: 58px;
    width: 90%;
    max-width: 525px;
  }
  .parts_list {
    margin: 0;
    padding: 0;
  }
  .part {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    background-color: #f1f1f1;
    margin-top: 0;
    margin-bottom: 60px;
    padding: 20px 16%;
  }
  .part .part_img {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 48%;
    display: block;
  }
  .part .part_text {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 48%;
  }
  .part:nth-child(odd) {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .part:nth-child(odd):after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    border-width: 35px 250px 0 250px;
    border-color: white transparent transparent transparent;
    border-style: solid;
  }
  .part:nth-child(even) {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .part:nth-child(even):after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-width: 35px 250px 0 250px;
    border-color: white transparent transparent transparent;
    border-style: solid;
  }
  .part_title {
    color: #c92b56;
    font-family: RobotoBold;
    font-size: 1.5rem;
  }
  /* LISTS */
  ol,
  ul {
    padding-left: 8%;
    padding-right: 8%;
  }
  /* FIGURES */
  .figure {
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .figure img {
    width: 100%;
  }
  .figure figcaption {
    width: 100%;
    margin-bottom: 40px;
  }
  /* PHOTOS */
  .photo-landscape,
  .photo-portrait {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .photo-landscape figcaption,
  .photo-portrait figcaption {
    width: 100%;
  }
  .photo-landscape img {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }
  .photo-portrait img {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }
  /* TABLES */
  .table_container {
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .tbl {
    width: 100%;
  }
  .tbl_name {
    width: 100%;
  }
  /* VIDEO */
  .figure-video {
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }
  .figure-video figcaption {
    width: 100%;
    margin-bottom: 40px;
  }
  .figure-video iframe {
    margin-right: auto;
    margin-left: auto;
  }
}
